<div class="main-card" id="result">
    {% for i in pdt %}
    <div class="card">
        <div><img src="{{i.pdt.product_photo}}" width="150" height="150" alt=""></div>
        <div>
            <table cellpadding="5">
                <tr>
                    <td>Name</td>
                    <td>{{i.pdt.product_name}}</td>
                </tr>
                <tr>
                    <td>Quantity</td>
                    <td>{{i.pdt.product_qty}}</td>
                </tr>
                <tr>
                    <td>Rate</td>
                    <td>{{i.pdt.product_rate}}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div>
                            <div class="mb-3">
                                {% if i.avg == 0 %}
                                <i class="fas fa-star star-light mr-1 main_star"></i>
                                <i class="fas fa-star star-light mr-1 main_star"></i>
                                <i class="fas fa-star star-light mr-1 main_star"></i>
                                <i class="fas fa-star star-light mr-1 main_star"></i>
                                <i class="fas fa-star star-light mr-1 main_star"></i>
                                {% elif i.avg == 1 %}
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star star-light mr-1 main_star"></i>
                                <i class="fas fa-star star-light mr-1 main_star"></i>
                                <i class="fas fa-star star-light mr-1 main_star"></i>
                                <i class="fas fa-star star-light mr-1 main_star"></i>
                                {% elif i.avg == 2 %}
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star star-light mr-1 main_star"></i>
                                <i class="fas fa-star star-light mr-1 main_star"></i>
                                <i class="fas fa-star star-light mr-1 main_star"></i>
    
                                {% elif i.avg == 3 %}
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star star-light mr-1 main_star"></i>
                                <i class="fas fa-star star-light mr-1 main_star"></i>
                                {% elif i.avg == 4 %}
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star star-light mr-1 main_star"></i>
                                {% elif i.avg == 5 %}
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                {% endif %}
    
                            </div>
                            </div>
                    </td>
                </tr>
            </table>
        </div>
        <div><a href="{% url 'webuser:addtocart' i.id %}">Add To Cart</a></div>
    </div>
    {% endfor %}
</div>