<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hello
    Name {{user.user_name}}
    <br>
    <a href="{% url 'webuser:profile' %}">Profile</a><br>
    <a href="{% url 'webuser:searchshop' %}">Search Shop</a>
    <br><a href="{% url 'webuser:mycart' %}">My Cart</a>
    <br><a href="{% url 'webuser:mybooking' %}">My Booking</a>
    <br><a href="{% url 'webuser:complaint' %}">Complaint</a>
    <br><a href="{% url 'webuser:viewreply' %}">View Reply</a>
</body>
{% if msg %}
    <script>
        alert("{{msg}}")
        window.location = "{% url 'webuser:homepage' %}"
    </script>
    {% endif %}
</html>