{% extends 'User/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table cellpadding="10">
        <tr>
            <td>#</td>
            <td>Status</td>
            <td>Date</td>
            <td>Total</td>
            <td>Action</td>
        </tr>
        {% for i in book %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>
                {% if i.book.booking_status == "1" %}
                <span style="color: green;">Payed</span>
                {% elif i.book.booking_status == "2" %}
                <span style="color: red;">Order Cancelled</span>
                {% elif i.book.booking_status == "3" %}
                <span style="color: green;">Delivered</span>
                {% else %}
                {% endif %}
            </td>
            <td>{{i.book.booking_date}}</td>
            <td>
                {% if i.total == 0 %}
                --
                {% else %}
                {{i.total}}
                {% endif %}
            </td>
            <td>
                {% if i.book.booking_status == "2" %}
                <span style="color: red;">No Items</span>
                {% elif i.book.booking_status == "3" %}
                <a href="{% url 'webuser:bookedproducts' i.id %}">View Products</a>
                {% else %}
                <a href="{% url 'webuser:bookedproducts' i.id %}">View Products</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock content %}