<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table cellpadding="10">
        <tr>
            <td>#</td>
            <td>User</td>
            <td>Status</td>
            <td>Total</td>
            <td>Action</td>
        </tr>
        {% for i,j in book %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.user.user_name}}</td>
            <td>
                {% if i.book.booking_status == "1" %}
                <span style="color:green">Payed</span>
                {% endif %}
            </td>
            <td>{{j.total}}</td>
            <td><a href="{% url 'webshop:vieworderpdt' i.id %}">View Product</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>