<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table cellpadding="10">
        <tr>
            <th colspan="5">Complaint from User</th>
        </tr>
        <tr>
            <td>#</td>
            <td>User Name</td>
            <td>Content</td>
            <td>Date</td>
            <td>Reply</td>
        </tr>
        {% for i in user %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.user.user_name}}</td>
            <td>{{i.complaint.complaint_content}}</td>
            <td>{{i.complaint.complaint_date}}</td>
            <td>{{i.complaint.complaint_reply}}</td>
        </tr>
        {% endfor %}
    </table>

    <table cellpadding="10">
        <tr>
            <th colspan="5">Complaint from Shop</th>
        </tr>
        <tr>
            <td>#</td>
            <td>Shop Name</td>
            <td>Content</td>
            <td>Date</td>
            <td>Reply</td>
        </tr>
        {% for i in shop %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.shop.shop_name}}</td>
            <td>{{i.complaint.complaint_content}}</td>
            <td>{{i.complaint.complaint_date}}</td>
            <td>{{i.complaint.complaint_reply}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>